<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wade8.boxscore">

    <application
        android:name=".BoxScore"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.BoxScoreActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".startgame.StartGameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartGame">
        </activity>
        <activity
            android:name=".gameboxscore.GameBoxScoreActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".teammanage.TeamManageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartGame">
        </activity>
        <activity
            android:name=".gamehistory.GameHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartGame">
        </activity>
        <activity android:name=".setting.SettingActivity">
        </activity>
    </application>

</manifest>