<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bardxhong.boxscore">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:name="com.bardxhong.boxscore.BoxScore"
        android:allowBackup="false"
        android:icon="@drawable/mipmap"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mipmap"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        >

        <activity
            android:name="com.bardxhong.boxscore.activities.LogoTransitionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/full">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bardxhong.boxscore.login.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.bardxhong.boxscore.activities.BoxScoreActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.bardxhong.boxscore.startgame.StartGameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartGame">
        </activity>
        <activity
            android:name="com.bardxhong.boxscore.gameboxscore.GameBoxScoreActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.bardxhong.boxscore.teammanage.TeamManageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartGame">
        </activity>
        <activity
            android:name="com.bardxhong.boxscore.gamehistory.GameHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartGame">
        </activity>
        <activity
            android:name="com.bardxhong.boxscore.setting.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartGame">
        </activity>
    </application>

</manifest>